:root {
    --nav-width: 150px;
    --nav-shadow-size: 4px;
    --total-nav-width: calc(var(--nav-width) + var(--nav-shadow-size));
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}

header > button {
    margin: 12px;
}

#menubar {
    /* menu-nav width = 150px, box shadow = 4px so -154px total */
    transform: translateX(calc(-1 * var(--total-nav-width)));
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menubar.active {
    opacity: 100%;
    transform: translateX(0);
}

body {
    transition: margin-left 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

body:has(#menubar.active) {
    margin-left: var(--nav-width);
}

#menu-button {
    width: fit-content;
    height: fit-content;
}

#menu-nav {
    display: flex;
    flex-direction: row;
    opacity: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 var(--nav-shadow-size) black;
    transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1);;
}

#menubar.active #menu-nav {
    opacity: 100%;
}

#menu-nav h1 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 0px;
}

#logo-container {
    height: 90px;
}

#menu-logo {
    image-rendering: pixelated;
    width: 60%;
    margin: 0 20%;
    padding: 0;
}

#menu-nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#menu-nav > ul > li {
    width: 100%;
    padding: 0;
    margin: 0;
}

.page-button {
    padding: 4px;
    margin: 0;
    border-style:solid;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    border-color: var(--primary-bg-color);
}

.page-button:hover {
    background-color: var(--accent-color);
}

.page-button.active {
    color: var(--secondary-bg-color);
    background-color: var(--text-color);
}