<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Player</title>
    <link rel="stylesheet" href="../css/audioPlayer.css">
</head>
<body>
    <div id="audio-player-container">
        <button id="audio-player-button" onclick="toggleAudio(activeAudioIndex, true)"></button>
        <img id="audio-player-cover" src="../images_original/SmallCustomCassetteTemplate.png" alt="album cover">
        <div id="audio-player-info">
            <h3 id ="audio-player-title">Song Title</h3>
            <div>
                <label id="audio-player-time" for="audio-player-progress">0:00 | 0:00</label>
                <div id="audio-player-progress">
                    <div id="audio-player-progress-level"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>