<!DOCTYPE html>
<html>
    <head>
        <title>3d Cassette</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/cassetteModel.css">
    </head>
    <body class = "cassette-model-body">
        <div class="perspective">
            <div id="cassette-model">
                <div class="cassette-face top"></div>
                <div class="cassette-face bottom"></div>
                <div class="cassette-face back"></div>
                <div class="cassette-face front"></div>
                <div class="cassette-face left"></div>
                <div class="cassette-face right"></div>
            </div>
        </div>
    </body>
</html>
